
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(30, 38%, 92%);
}

main{
    width: 100%;
}

.product-card{
    min-width: 650px;
    width: 30%;
    margin: 0 auto;
    display: flex;
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
}
.left-card{
    width: 50%;
    background-image: url("images/image-product-desktop.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 35px 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.mini-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}
.product-title{
    font-family: 'Fraunces', serif;
    text-transform: capitalize;
}

.product-desc{
    width: 85%;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
}

.product-price{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
}

.price{
    font-size: 38px;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
}
.discount{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-weight: 500;
}

.cart{
    width: 100%;
    padding: 17px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: hsl(158, 36%, 37%);
    font-family:  'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 7px;
    border: none;
    gap: 10px;
    

}

.cart:hover{
    background-color: hsl(158, 42%, 20%);
    cursor: pointer;
}

@media only screen and (min-width:641px) and (max-width:768px) {
    .product-card{
        max-width: 600px;
    }
}

@media only screen and (max-width:640px) {
    main{
       margin: auto;
       padding-top: 10%;
       padding-bottom: 10%;

    }
    .product-card{
        min-width: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .left-card{
        width: 100%;
        height: 350px;
        background-image: url(./images/image-product-mobile.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px 10px 0 0 ;
    }

    .right-card{
        width: 100%;
        row-gap: 12px;
        padding: 25px;
        border-radius: 0 0 10px 10px;
    }
    .mini-title{
        font-size: 13px;
    }
    .product-title{
        font-family: 'Fraunces', serif;
        text-transform: capitalize;
        font-size: 32px;
        line-height: 1;
    }
    
    .product-desc{
        width: 95%;
        margin-top: 10px;
        margin-bottom: 15px;
        line-height: 1.7;
        font-size: 12px;
    }
    
    
    
    .cart{
        margin-top: 10px;
        
    
    }
}